body{
  background-image: url('/src/luke-chesser-tgrBcf7S_dY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:#0b454d;
}


.MainContainer{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 20px;
}

.ResultsSection{
  overflow-y: auto;
  max-height: 500px;
  max-width: 500px;
}

.PlaylistContainer{
  overflow-y: auto;
  max-height: 500px;
  max-width: 500px;
}

h1{
  
  margin: 0;
  padding: 10px;
  text-align: center;
  color:black;
  
}

h2{
  padding: 2px;
  text-align: center;
  color:black;
}

footer{
  display:block;
  width:100%;
  text-align: center;
  padding: 2px;
  color: #0000;
  font-weight: 600;
  
}

ul{
  color: white;
  display: flex;  
  list-style: none;  
  margin: 0; 
  padding: 0; 
  justify-content: center;
}

li{
  margin-right: 20px; 
}

li:hover {
  color:black ;
}

footer li:last-child {
  margin-right: 0; 
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: black;
  text-decoration: none;
}