.playlist-save{
  box-sizing: border-box;
  background-color: rgba(232, 234, 246, 0.95);
  color: #1a237e;
  padding-left: 10px;
  overflow-y: scroll;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-overflow: ellipsis;
  height: 950px;
  border-radius: 10px;
}

.savePlaylist-button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-left: 35%;
  font-weight: bolder;
}


.savePlaylist-button:hover{
  background-color: #1ed760;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.savePlaylist-button:active{
  background-color: #1DB954;
  
}

.playlistEdit{
  border:0;
  background: transparent;
  border-bottom: 1px solid #0b454d;
  outline: none;
  width: 100%;
  padding-bottom: 5px;
}

.custom-toast{
  background-color: #ffff !important;
  opacity: none;
  color: #d9534f !important;  
  border-radius: 5px !important;  
  font-weight: bold !important;  
}

.custom-toast-error .Toastify__progress-bar {
  background-color: #ffff !important; 
}

@media (max-width: 600px) {
  .savePlaylist-button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 24px;
    border-width: 0px;
    background-color: #1DB954;
    margin-top: 10px;
    margin-left: 20%;
    font-weight: bolder;
  }
}