.SearchResults{
  box-sizing: border-box;
  background-color: rgba(232, 234, 246, 0.95);
  color: #1a237e;
  padding-left: 10px;
  height: 950px;
  overflow-y: scroll;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-overflow: ellipsis;
  border-radius: 10px;
}

.SearchResults h2{
  text-align:left;
}
