.SearchSection {
  display: flex; 
  justify-content: space-between; 
  width: 400px; 
  margin: 20px auto;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%; 
  box-sizing: border-box; 
  border:2px solid black;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  background-color:#1DB954;
}

.search-button:hover {
  background-color: #1ed760;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.search-button:active{
  background-color:rgba(235, 149, 50,1);
  
}

@media (max-width: 1024px) {
  .SearchSection {
    width: 100%;
    max-width: 500px;
    gap: 1rem;
  }
}

@media (max-width: 640px) {
  .SearchSection {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .search-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .search-button {
    width: 100%;
    max-width: 200px;
  }
}